env2/
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Django projects/Django_workspace.code-workspace
GreatKart/.ebextensions/
GreatKart/.elasticbeanstalk/
Django projects/.vscode/
